/* Modelos que podem ser usados: https://freefrontend.com/css-cards/ */

/* O classe em Bebidas.js e Comidas.js */
.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style-type: none;
  margin: 4rem 5vw;
  padding: 0;
}

/* O classes em Cards.js */
.card {
  border-radius: calc(var(--curve) * 1px);
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.card_img {
  height: auto;
  width: 100%;
}

.card_name {
  background-color: gainsboro;
  color: #6a515e;
  font-size: 1em;
  margin: 0 0 0.3em;
}
