/* utilizado em BebidasDetalhes e ComidasDetalhes.js */
.detalhes {
  background-color: rgba(255, 255, 255, 0.925);
  margin: 0 10%;
}

.detalhes ul {
  list-style: none;
  padding: 0;
}

.detalhes ul li:hover {
  background-color: gainsboro;
}

.iniciar_receita {
  position: fixed;
  width: 100%;
}

.iniciar_receita button {
  border-radius: 0;
  bottom: 0;
  height: 40px;
  position: fixed;
  width: 80%;
}


/* BOTÂO DE FINALIZAR BebidasEmprogresso e BebidasEmProgresso */
.finish {
  border-radius: 0;
  bottom: 0;

}

.finish:disabled {
  background-color: gray;
  border-color: gray;
}

/* Utilizado para que o Link não limite o tamanho do Button */
.iniciar_receita a {
  align-items: center;
  bottom: 5px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

iframe {
  width: 80%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
  border: 3px solid black;
  border-radius: 50%;
  color: black;
}

.top-img {
  width: 500px;
}

.recommendations {
  margin-bottom: 20px;
}

@media screen and ( max-width : 800px ) {

  .detalhes {
    margin: 0;
  }

  .iniciar_receita button {
    bottom: 0;
    width: 105%;
  }

  iframe {
    height: 240px;
    width: 320px;
  }

  .top-img {
    width: 100%;
  }

  .finish {
    position: fixed;
    width: 105%;
  }
}
