/* utilizado em BebidasDetalhes e ComidasDetalhes.js */
.detalhes {
  background-color: rgba(255, 255, 255, 0.925);
  margin: 0 10vh;
}

.detalhes ul {
  list-style: none;
  width: 100%;
}

.detalhes ul li:hover {
  background-color: gainsboro;
}

.iniciar_receita {
  position: fixed;
  width: 100%;
}

.iniciar_receita button {
  bottom: 5px;
  position: fixed;
  width: 40%;
}

/* Utilizado para que o Link não limite o tamanho do Button */
.iniciar_receita a {
  align-items: center;
  bottom: 5px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

iframe {
  width: 80%;
}

.top-img {
  width: 500px;
}

.recommendations {
  margin-bottom: 20px;
}

@media screen and ( max-width : 700px ) {

  .detalhes {
    margin: 0;
  }

  .iniciar_receita button {
    bottom: 0;
    width: 105%;
  }

  iframe {
    height: 240px;
    width: 320px;
  }

  .top-img {
    width: 100%;
  }
}
