footer {
  background-color: rgba(255, 255, 255, 0.925);
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  margin: 0 10vw;
  position: fixed;
  width: 80vw;
}

footer a {
  margin: 0 10px;
}

@media screen and ( max-width : 800px ) {

  footer {
    background-color: gainsboro;
    justify-content: space-around;
    margin: 0;
    width: 100%;
  }
}
